.animated-background {
    position: absolute;
    inset: 0;
    background-image: url('/image.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(75%);
    animation: backgroundAnimation 15s infinite alternate ease-in-out;
  }
  
  @keyframes backgroundAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  @keyframes slideAndFade {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .login-container {
    animation: slideAndFade 1s ease-out forwards;
  }
  



  .loading-circles span {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 3px;
    background-color: white;
    border-radius: 50%;
    animation: grow 1.5s infinite;
  }
  
  .loading-circles span:nth-child(1) { animation-delay: 0s; }
  .loading-circles span:nth-child(2) { animation-delay: 0.3s; }
  .loading-circles span:nth-child(3) { animation-delay: 0.6s; }
  

